/*делаем форму*/
.form {
  margin: 0 auto;
  width: 600px;
  height: 800px;
  background-color: #fcfafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
}
/* внутрений элемент*/
.wrapper-element {
  width: 500px;
  height: 45px;
  background-color: #72acceaf;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 17px;
  font-family: Montserrat;
  font-weight: 300;
  margin-bottom: 5px;
  box-shadow: 2px 2px 2px rgba(15, 16, 15, 0.603);
}
/*кастомим окошки*/
.select-custom {
  border-radius: 15px;
  min-width: 115px;
  min-height: 25px;
  font-family: Montserrat;
  font-weight: 300;

  box-shadow: 2px 2px 2px rgba(104, 106, 104, 0.501);
}
.button-wrapper {
  width: 500px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 13px;
  background-color: #72acceaf;
}
/*кастомим кнопки*/
.button-custom {
  border-radius: 15px;
  min-width: 115px;
  min-height: 25px;
  box-shadow: 2px 2px 2px rgb(50, 57, 50);
}
